RewriteEngine On

RewriteBase /bookcities/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|assets|uploads|robots\.txt|favicon\.ico)
RewriteRule ^(.*)$ /bookcities/app/index.php?/$1 [L]
