*{
	padding: 0;
	margin: 0;
	outline: 0;
	line-height: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;	
	letter-spacing: 0.05em;
}
b{
  font-weight:bold;
}
body {
	font-family: aileron, helvatica, arial;
	color: #666;
	font-size: 13px;
	line-height: 1.3;
	overflow-x: hidden;
	overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px;
}
h1 {
	font-size: 26px;
	font-weight: 300;	
}
h2 {
	font-size: 22px;
	font-weight: normal;
}
h3 {
	font-size: 18px;
	font-weight: normal;
}
h4 {
	font-size: 16px;
	font-weight: bold;
}
h5 {
	font-size: 14px;
	font-weight: bold;
}
h6 {
	font-size: 13px;
	font-weight: bold;
}
p{
	margin: 0 0 20px;
}
.med-text{
	font-size: 18px;
}
img {
	max-width: 100%;
	height: auto;
}
strong,
.strong {
	font-weight: bold;
}
.cf:after,
.clear{
    clear: both
}
.cf:after,
.cf:before {
    content: " ";
    display: table
}
.clear {
    height: 0;
    line-height: 0;
    font-size: 0;
    display: table;
    content: '.';
    width: 100%
}
.row {
    display: block
}
.row .col {
    min-height: 1px;
	display: block;
	float: left;
}
.row .col.right {
	float: right;
}

.row .col.centered {
    float: none;
    margin: 0 auto
}
.row .col.left {
    text-align: left;
    margin: 0 auto
}
.row .c1 {
    width: 8.333%
}

.row .c2 {
    width: 16.667%
}

.row .c3 {
    width: 25%
}

.row .c4 {
    width: 33.333%
}

.row .c5 {
    width: 41.667%
}

.row .c6 {
    width: 50%
}

.row .c7 {
    width: 58.333%
}

.row .c8 {
    width: 66.667%
}

.row .c9 {
    width: 75%
}

.row .c10 {
    width: 83.333%
}

.row .c11 {
    width: 91.667%
}

.row .c12 {
    width: 100%;
    float: none
}
.button {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-decoration: none;
	background: #37a3eb;
	background:-webkit-linear-gradient(top , #37a3eb, #2181cf);
	background:-moz-linear-gradient(top , #37a3eb, #2181cf);
	background:-ms-linear-gradient(top , #37a3eb, #2181cf);
	background-color:#37a3eb;
	border-radius: 3px;
	box-shadow: 0 1px 0 #fff, 0 1px 3px rgba(101, 101, 101, 0.3) inset;
	border-color: #1c74b3 #1c74b3 #0d5b97;
	border-width: 1px;
	border-style: solid;
	color: #fff;
	height: 37px;
	display: block;
	width: auto;
	float: left;
	padding: 0 30px;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s;
	cursor: pointer;
}
a.button {	
	line-height: 35px;
}
.button:focus,
.button:hover {
	background: #37a3eb;
	background:-webkit-linear-gradient(top , #37a3eb, #37a3eb);
	background:-moz-linear-gradient(top , #37a3eb, #37a3eb);
	background:-ms-linear-gradient(top , #37a3eb, #37a3eb);
	color: #fff;
}
.button[disabled="disabled"],
.button[disabled="disabled"]:focus,
.button[disabled="disabled"]:hover {
    background: #ccc;
    border-color: #969595;
	cursor: not-allowed;
}
.button.center {
	float: none;
	margin: 0 auto;
	display: inline-block;
}
.button.medium {
	font-size: 12px;
	padding: 0 25px;
	height: 35px;
}
a.button.medium {	
	line-height: 33px;
}
.button.small {
	font-size: 11px;
	padding: 0 20px;
	height: 30px;
}
a.button.small {	
	line-height: 28px;
}
.tcenter {
	text-align: center;
}
.tleft {
	text-align: left;
}
.tright {
	text-align: right;
}
select.select,
textarea.tarea,
input.text {
	border: 0;
	border-bottom: #bbb 3px solid;
	background: none;
	display: block;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0;
	height: 35px;
	font-size: 14px;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
}
textarea.tarea {
	height: 100px;
	padding: 10px 0;
}
select.select:focus,
textarea.tarea:focus,
input.text:focus {
	border-color: #37a3eb;
}
.focus select.select,
.focus textarea.tarea,
.focus input.text {
}
select.select option{
	padding: 5px;
}
.form {
	display: block;
	font-size: 18px;
}
.form .field {
	display: block;
	margin: 0 0 25px;
	position: relative;
	padding-top: 20px;
}
.form .field.action {
	padding: 0;
}
.field.input:after,
.field.input:after,
.field.input:after {
	content: " ";
	position: absolute;
	z-index: 0;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0%;
	background-color: #37a3eb;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4 ease-in-out 0s;
}
.field.input.focus:after,
.field.input.focus:after,
.field.input.focus:after {
	width: 100%;
}
input.text:invalid {
  box-shadow: none;
}
.select.multiple {
  height: 213px;
}
.form .field label {
	position: absolute;
	z-index: 1;
	top: 18px;
	left: 0;
	display: block;
	line-height: 35px;
	width: 100%;
	transition: all 0.1s ease-in-out 0s;
	-webkit-transition: all 0.1s ease-in-out 0s;
}
.form .field.radio {
	padding: 0;
}
.form .field.radio label {
	position: relative;
	padding:  0 0 5px;
	top: 0;
	left: 0;
	display: block;
	line-height: 20px;
	font-size: 13px;
	font-weight: bold;
}
.form .field.radio label.inline-radio {
	float: left;
	width: auto;
	margin-right: 20px;
}
.form .field.radio label input {
	margin: 0px 5px 0 0;
	position: relative;
	top: 2px;
}
.form .field label,
.form .field.keep-focus label {
	top: 5px;
	font-size: 13px;
	line-height: 1.2;
	font-weight: bold;
	color: #000;
}
.form .field .forget-link {
	font-size: 13px;
	line-height: 20px;
	float: right;
}
.form .field p {
	font-size: 13px;
	color: #e00;
	margin: 0;
	line-height: 1.4;
	position: absolute;
	top: 100%;
}
.flash-msg.inset {
	margin: 10px auto 15px;
	padding: 0;
}
.flash-msg > div {
	padding: 10px;
	background: #dfd none repeat scroll 0 0;
	border: 1px solid #aca;
}
.flash-msg > div.error {
	padding: 10px;
	background: #fdd none repeat scroll 0 0;
	border: 1px solid #caa;
}
.box {
	font-size: 24px;
	color: #000;
	border: 1px solid #aaa;
	padding: 25px;
	text-transform: uppercase;
	margin: 0 0 40px;
}
.box .num {
	font-weight: bold;
}
.bold {
	font-weight: bold;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #999;
	text-align: left;
}
table tr.row-head {
	border-bottom: 1px solid #999;
	background-color: #f0f0f0;
}
table tr {
	border-bottom: 1px solid #d0d0d0;
}
table tr:last-child {
	border: 0;
}
table th {
	padding: 15px;
	font-weight: bold;
	text-transform: uppercase;
	border-left: 1px solid #f0f0f0;
}
table td {
	padding: 15px 15px;
	border-left: 1px solid #f0f0f0;
}
table td.action {
	padding: 0px;
}
table th:first-child,
table td:first-child {
	border: 0;
}
table td a {
	color: #1c74b3;
	text-decoration: none;
	font-weight: bold;
}
table td a:hover {
	color: #37a3eb;
}
sup {
	line-height: 1;
}
.right {
	float: right;
}
.left {
	float: left;
}
.icon-link {
	display: block;
	float: left;
	margin: 0 5px;
	padding: 11px 10px 10px;
}
svg.icon {
  fill: #000;
  height: 16px;
  width: 16px;
  display: block;
}
.hidden {
	display: none !important;
}
#main {
	min-height: 600px;
}
.hidden-txt {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  width: 100%;
}
.hidden-txt.editable {
	padding: 5px;
	border: 1px solid #ccc;
}
.button.lspace {
	margin-left: 15px;
}
.spacer {
	margin: 0 0 40px;
}
.space-left {
	padding-left: 50px;
}
.space-right {
	padding-right: 50px;
}
.capitalize {
	text-transform: capitalize;
}
.reg_description{

}
.reg_description p {
	margin-top: 10px;
	text-align: center;
    font-size: 13px;
    line-height: 1.2;
    font-weight: bold;
    color: #000;
}
.reg_logo
{
	text-align: center;
	margin-bottom: 0px;
}
.reg_logo_left
{
	text-align: left;
	margin-bottom: 0px;
}
.reg_logo img
{
	max-width: 150px; 
}
.reg_image_note
{
	font-size: 13px;
	color: #000;
}
/**BBB S work**/
.reg_description p{
	line-height:1.2;
	margin-bottom:0;
}
.reg_description p a{
	text-decoration:none; 
}
.text-wrap-reg{
	margin-bottom:30px;
} 
.text-wrap-reg p{
	text-align:left;
}
.text-left,
.text-left p
{
	text-align: left;
}
.error_log {
    clear: both;
    display: block;
    padding-top: 20px;
}
.inline-block
{
	display: inline-block !important;
}
.half-width
{
	width: 50% !important;
}
.common-label
{
	font-size: 13px;
    font-weight: bold;
    color: #000;
}
.on_holiday_related_fields
{
	display: none;
}
a.icon-link.change-password
{
	background: url("../images/edit.png") center center no-repeat;
	font-size: 0;
	height: 15px;	
}
.c12per
{
	width: 12%;
}
.c13per
{
	width: 13%;
}